@using Antlr.Runtime.Tree
@using OpenForCitizen.Resources
@using OpenForCitizen.Controllers
@{
    ViewBag.Title = "Menu";
}
<head>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/MainStylesheet.css">
    <style>
        .container-fluid {
        }

        .menulayout {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: white;
            min-width: 300px;
            position: center;
            border-radius: 15px;
            margin-bottom: 15px;
        }

        div.ex2 {
            border-radius: 15px;
            margin: auto;
            background-color: white;
            margin-bottom: 15px;
            margin-top: 5px;
            text-align: center;
            max-width: 900px;
            min-width: 300px;
        }
    </style>

</head>
<body>

    <div class="container-fluid text-center">
        <div class="ex2">
            <div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                <br />
                <h1>@Menu.Title</h1>
                <p>
                    @Menu.InfoText
                </p>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <button class="btn btn-default btn-group-lg menulayout">
                    <span class="glyphicon glyphicon-heart" style="font-size:40px;margin-top:auto; color:red"></span>
                    <div style="font-size:xx-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@Menu.BtnHealth</div>
                </button>
            </div>

            <div class="col-md-6 col-sm-6">
                <form action="@Url.Action("sick", "Home")">
                    <button class="btn btn-default btn-group-lg menulayout">
                        <span class="glyphicon glyphicon-user" style="font-size:40px;margin-top:auto; color:#ff6a00"></span>
                        <div style="font-size:xx-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@Menu.BtnSick</div>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <form action="@Url.Action("InformationOmVarden", "Home")">
                    <button class="btn btn-default btn-group-lg menulayout">
                        <span class="glyphicon glyphicon-info-sign" style="font-size:40px;margin-top:auto; color:mediumseagreen"></span>
                        <div style="font-size:xx-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@Menu.BtnInfo</div>
                    </button>
                </form>
            </div>

            <div class="col-md-6 col-sm-6">
                <form action="@Url.Action("Questions","Home")">
                    <button class="btn btn-default btn-group-lg menulayout">
                        <span class="glyphicon glyphicon-question-sign" style="font-size:40px;margin-top:auto; color:cornflowerblue"></span>
                        <div style="font-size:xx-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@Menu.BtnQuestions</div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>